# Managed by Ansible
# PAM faillock configuration

dir = /var/run/faillock
audit

deny = {{ pam_password_deny }}
fail_interval = {{ pam_fail_interval }}
unlock_time = {{ pam_unlock_time }}

even_deny_root
root_unlock_time = {{ pam_root_lockout }}