# Managed by Ansible
# CIS Benchmark: Hardening for {{ item.name }}

{% for item in disabled_modules%}
install {{ item.name }} /bin/{{ item.status | default('true') }}
{% if item.blacklist | default(false) %}
blacklist {{ item.name }}
{% endif %}
{% endfor%}