# This file is managed by Ansible all manual change will be override
# Listen for connections on all interfaces (IPv4)
agentAddress  udp:161

# Read-only community string and access control for specific hosts
{% for host in snmp_allowed_hosts %}
rocommunity {{ snmp_community }} {{ host }}
{% endfor %}

# System information
sysLocation  {{ snmp_location }}
sysContact   {{ snmp_contact }}

# SNMPv2-MIB objects (system and host)
view   systemonly  included   .1.3.6.1.2.1
view   systemonly  included   .1.3.6.1.4.1