---
#- name: Deploy NTP authentication key if applicable
#  copy:
#    src: files/ntp.keys
#    dest: /etc/ntp.keys
#    owner: ntp
#    group: ntp
#    mode: '0600'
- name: set timezone to Asia/Tehran
  community.general.timezone:
    name: Asia/Tehran

- name: Deploy Chrony NTP configuration for both client and server
  template:
    src: chrony.conf.j2
    dest: /etc/chrony.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart chronyd
  when:
    - ansible_facts.os_family == "RedHat"

- name: Deploy NTP configuration for both client and server
  template:
    src: timesyncd.conf.j2
    dest: /etc/systemd/timesyncd.conf
    mode: '0644'
    owner: root
    group: root
  when:
    - ansible_facts.os_family == "Debian"
  notify: Restart timesyncd