---
- name: upload system banner in /etc/issue
  template:
    src: banner.j2
    dest: /etc/issue
    mode: '0640'
    owner: root
    group: root

- name: Disable update-motd
  shell: sudo chmod -x /etc/update-motd.d/*
  ignore_errors: true

- name: set system hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: disable Apport Error Reporting Service
  copy:
    src: apport
    dest: /etc/default/apport
    backup : true
    mode: '0644'
    group: root
    owner: root

- name: configuring /etc/audit/auditd.conf
  template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    backup: true
    owner: root
    group: root
    mode: '0640'

- name: configure modprobe to disable some modules
  ansible.builtin.template:
    src: modprobe-disable-modules.conf.j2
    dest: "/etc/modprobe.d/{{ item.name }}.conf"
    owner: root
    group: root
    mode: '0644'
  with_items: "{{ disabled_modules }}"
  # loop: "{{ disabled_modules }}"
  # loop_control:
  #   loop_var: mod
  tags:
    - CIS_Benchmark

- name: Set Inactive pasword lock to 45 days
  shell:
    cmd: useradd -D -f 45

- name: Add AIDE cron Job 
  cron:
    name: run AIDE check
    minute: 5
    hour: 4
    weekday: 0
    user: root
    job: /usr/bin/aide.wrapper --check

- name: set apparmor profile to enforced
  ansible.builtin.shell:
    cmd: aa-enforce /etc/apparmor.d/*
  when:
    - ansible_facts.os_family == "Debian"
    
# - name: Build and Test AIDE Database
#   command: /usr/bin/aide --init --config /etc/aide/aide.conf &
#   # add this option incas getting error--config /etc/aide/aide.conf
#   changed_when: true
#   when: ansible_virtualization_type not in ["docker", "lxc", "openvz", "podman", "container"]
#   tags:
#   - CJIS-5.10.1.3
#   - NIST-800-53-CM-6(a)
#   - PCI-DSS-Req-11.5

- name: Check whether the stock AIDE Database exists
  stat:
    path: /var/lib/aide/aide.db.new.gz
  register: aide_database_stat
  when: ansible_virtualization_type not in ["docker", "lxc", "openvz", "podman", "container"]
  tags:
  - CJIS-5.10.1.3
  - NIST-800-53-CM-6(a)
  - PCI-DSS-Req-11.5

- name: Stage AIDE Database
  copy:
    src: /var/lib/aide/aide.db.new
    dest: /var/lib/aide/aide.db
    backup: true
    remote_src: true
  when:
    - (aide_database_stat.stat.exists is defined and aide_database_stat.stat.exists)
  tags:
  - CJIS-5.10.1.3
  - NIST-800-53-CM-6(a)
  - PCI-DSS-Req-11.5

- name: check if the rules.d dir is exists
  stat:
    path: /etc/audit/rules.d/
  register: rules_dir

- name: Make sure /etc/audit/rules.d/ directory exists
  file:
    path: /etc/audit/rules.d
    owner: root
    group: root
    mode: u+rwx,g-wx
    state: directory
  when: rules_dir.stat.exists

- name: upload auditd rules to /etc/audit/rules.d/
  copy:
    src: "{{ item }}"
    dest: "/etc/audit/rules.d/"
    mode: '0600'
    owner: root
    group: root
  with_fileglob: "audit-rules/*"

- name: Adjusting journald.conf file in case of CIS CIS_Benchmark
  template:
    src: journald.conf.j2
    dest: /etc/systemd/journald.conf
    mode: '0644'
    group: root
    owner: root
    backup: true

- name: Adjusting Postix MTA configurations
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
    mode: '0644'
    group: root
    owner: root
    backup: true
  when:
    - ansible_facts.os_family == "Debian"

- name: Adjusting coredump configurations
  template:
    src: coredumps.conf.j2
    dest: /etc/systemd/coredump.conf
    mode: '0644'
    group: root
    owner: root
  when:
    - ansible_facts.os_family == "rhel centos fedora"

- name: limiting cron access on /etc/cron.allow
  template:
    src: cron.allow.j2
    dest: /etc/cron.allow
    mode: '0640'
    group: root
    owner: root