---
- name: Configure FORWARD rich rules
  ansible.posix.firewalld:
    zone: "{{ firewalld_zone }}"
    permanent: true
    immediate: true
    state: enabled
    rich_rule: "{{ item }}"
  loop: "{{ lookup('template', 'firewalld_forward.rules.j2').splitlines() }}"
  when: forward_rules is defined and forward_rules | length > 0
